@model SocialNetworkMvc.Models.AddGroupModel
@{
    ViewBag.Title = "AddGroup_";
}
<body style="background-image:url('https://image.freepik.com/free-vector/no-translate-detected_1048-982.jpg')">
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-sm">

                @Html.Partial("_PartialViewAddGroup",Model)


            </div>
        </div>

    </div>
</body>
