@{
    ViewBag.Title = "Groups";
}
<body style="background-image:url('https://image.freepik.com/free-vector/no-translate-detected_1048-982.jpg')">
    <ul class="list-inline">
        @Html.Partial("_PartialViewGroups")

    </ul>
</body>
